html {
  background: #3f3f3f;
  padding: 16px 23px;
  max-height: 75vw;
  max-width: 125vh;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

body {
  position:relative;
  background: white;
  box-shadow: 0 0 10px black;
  max-height: 75vw;
  max-width: 125vh;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

iframe {
  position:relative;
  width:100%; height:100%;
  border:none;
  padding:0;
  margin:0;
  overflow:hidden;
}
